<body>
  <!-- NAVIGATION BAR -->
  <div class="fixed" style="margin-bottom:50px">
    <nav>
      <div class="Main_Header">
        <%= link_to "", towerDefense_path, class: "headerLink" %>
        <ul class="button-group radius" style="float:right; padding:13px 13px 0 13px;">
          <li style="width:150px, height:50px">
            <%= link_to "Tower Defense", towerDefense_path, class: "button" %>
          </li>
          <li style="width:150px, height:50px">
            <%= link_to "Phaser Stars", phaserStars_path, class: "button" %>
          </li>
          <li style="width:170px"><%= link_to :ScoreBoard, scoreboard_path, class: "button" %></li>
            <%= render 'layouts/nav_right' %> 
        </ul>
      </div>
        <%= render 'layouts/notice' %>
    </nav>
  </div>
  <div class="row" style="margin-bottom: 130px"></div>
  <!-- END NAVIGATION BAR -->




<% content_for :title, "Tower Defense | Signup" %>
<div class= "Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:user, :url => {:controller => 'profiles', :action => 'create'}) do |f| %>

    <p>Username:</br> <%= f.text_field :username, class: "Sign_Form_Field" %></p>
    <p>Password:</br> <%= f.password_field :password, class: "Sign_Form_Field" %></p>
    <p>Password Confirmation:</br> <%= f.password_field :password_confirmation, class: "Sign_Form_Field" %></p>
    <%= f.submit :Signup %>
  <% end %>
  <% if @user.errors.any? %>
	<ul class="Signup_Errors">
		<% for message_error in @user.errors.full_messages %>
			<li>* <%= message_error %></li>
	  	<% end %>
	</ul>
  <% end %>
</div>