  <nav>
    <div class="Main_Header">
      <%= link_to "", root_path, class: "headerLink" %>
      <% if is_signed_in? %>
      <ul class="button-group radius" style="float:right; padding:13px 13px 0 13px;">
        <li style="width:42%"><%= link_to :ScoreBoard, scoreboard_path, class: "button" %></li>
        <li style="width:29%"><%= link_to :Profile, profile_path(@current_user), class: "button" %></li>
        <li style="width:29%"><%= link_to :Logout , :logout, class: "button" %></li> 
      </ul>
      <%else%>
      <ul class="button-group radius">
        <li style="width:42%"><%= link_to :ScoreBoard, scoreboard_path, class: "button" %></li>
        <li style="width:29%"><%= link_to :Signup , :signup, class: "button"%></li>
        <li style="width:29%"><%= link_to :Login , :login, class: "button"%></li>  
      </ul>
      <% end %>
    </div>
    <% if flash[:color]== "valid" %>
    <div class="valid_notice">
      <p><%= flash[:notice]%></p>
    </div>
    <% elsif flash[:color]== "invalid"%>
    <div class="invalid_notice">
      <p><%=flash[:notice]%></p>
    </div>
    <% else %>
    <div class="notice">
      <p><%=flash[:notice]%></p>
    </div>
    <% end %>
  </nav>
  <div class="row"></div>